<div class="container2">
    <div class="top">
            <h1 class="titleSection">Editar comanda</h1>
            <button (click)="toggleDiv();"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
    <div class="container3">
        <div class="infoComanda">
            <h3>Comanda 1</h3>
            <div class="whiteframe">
                <ul class="itemList">
                    <li *ngFor="let i of itemsList"><div><button (click)="removeItem(i);"><fa-icon [icon]="faTrash"></fa-icon></button>&emsp;{{i.name}}</div><div>${{i.price}}</div></li>
                </ul>
                <div class="total">
                    <div class="totalContent">
                        <p>Total:</p>
                        <p>${{totalAmount}} mxn</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="tabs">
                <button id="beveragesButton" class="selected" (click)="toggle($event)">Bebidas</button>
                <button id="foodButton" (click)="toggle($event)">Alimentos</button>
            </div>
            <div class="menuContent">
                <div id="food" class="button-matrix" *ngIf="!show">
                    <button *ngFor="let food of foodList" type="button" class="butn" (click)="addFood(food)">{{food.product}}</button>
                </div>
                <div id="beverage" class="button-matrix" *ngIf="show">
                    <button *ngFor="let beverage of beveragesList" type="button" class="butn" (click)="showBeveragesSpecific(beverage.id)">{{beverage.product}}</button>
                </div>
                <div id="controlButtons">
                    <button class="ezeButton" (click)="saveOrder();">Guardar</button>
                    <button class="ezeButton" (click)="confirmClose()">Cerrar Comanda</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="confirm" class="alertContainer" *ngIf="showConfirm">
    <div class="paddingContainer">
        <h2>¿Seguro que quieres borrar la comanda?</h2>
        <button class="ezeButton" (click)="deleteOrder();"> Eliminar</button><button class="ezeButton" (click)="toggleDiv();"> Cancelar </button>
    </div>
</div>
<div class="backgroundDiv" *ngIf="showSpecific || showConfirm || closeC" (click)="hideSpecific()"></div>