<div class="container2">
    <div class="top">
        <h1 class="titleSection">Inicio</h1>
    </div>
    <div class="summaryBoxes">
        <div class="summaryBox summary-total">
            <div class="summary-main">
                <div class="summary-value">$300</div>
                <div class="summary-desc">Comandas totales</div>
            </div>
            <div class="summary-footer">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></div>
        </div>
        <div class="summaryBox summary-pending">
            <div class="summary-main">
                <div class="summary-value">$300</div>
                <div class="summary-desc">Comandas pendientes</div>
            </div>
            <div class="summary-footer">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></div>
        </div>
        <div class="summaryBox summary-amount">
            <div class="summary-main">
                <div class="summary-value">$300</div>
                <div class="summary-desc">Total vendido</div>
            </div>
            <div class="summary-footer">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></div>
        </div>
    </div>
</div>