.container {
    width: 85%;
}
.sidenav {
    top: 122.5px;
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: rgb(32, 29, 29);
    display: block;
    z-index: 1001;
}
.sidenav ul {
    display: block;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
}
.sidenav li {
    margin: 20px;
    padding: 0;
    font-size: 22px;
}
.mainPanel {
    position: relative;
    z-index: 1;
    height: 90%;
    margin-left: 250px;
}
.dropdown li {
    font-size: 22px;
}
.link {
    color: white;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFFFFF00;
    border: none;
    margin: 0;
    padding: 0;
}
.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.link-dark {
    color: rgb(0, 0, 0);
    font-weight: 300;
    background-color: #FFFFFF00;
    border: none;
    margin: 0;
    padding: 0;
}
.link-dark:hover {
    text-decoration: underline;
    cursor: pointer;
}
#home {
    margin-left: 10%;
    width: 70%;
}
#home h2 {
    margin-bottom: 40px;
}
.alertMessage {
    display: none;
    position: absolute;
    z-index: 9000;
    width: 100%;
    top: 140.5px;
    text-align: center;
    padding-left: 20%;
}
.alertMessage p {
    margin: auto;
    width: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 9px;
}
#editD {
    display: none;
}