.menuButton button {
    border-radius: 4px;
    border-color: none;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 250px;
    padding: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px;
    font-size: 42px;
}
.menuButton button:hover {
    background-color: var(--black-clear-color);
}
.container2 {
    margin: 50px;
    height: calc(100vh - 136px);
}
.whiteframe {
    position: relative;
    margin-top: 10px;
    padding: 0 10px;
    background: #252C33;
    overflow: auto;
    height: calc(100% - 2em);
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 2px 1px -1px rgba(255, 255, 255, 0.12);
}
.frameContent {
    overflow: auto;
}
.addButton {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}
.crearComanda {
    z-index: 20;
    color: rgb(255,255,255);
    background-color: #704241;
    width: 56px;
    height: 56px;
    font-size: 14px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 50%;
    border: none;
    transition: .2s linear;
    transition-property: background-color,box-shadow;
    cursor: pointer;
}
.crearComanda:focus {
    outline: none;
}
.orders {
    padding: 0;
    margin: 0;
}
.orders li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(236, 236, 236, 0.12);
}
.last {
    border-bottom: none!important;
}
.gInfo {
    display: flex;
}
.status {
    width: 100px;
    margin: 0 10px;
    border-radius: 2px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
}
.pendiente {
    background: rgb(219, 174, 101);
}
.cancelada {
    background: rgb(202, 102, 115);
}
.cerrada {
    background: #70b961;
}
.date {
    font-size: 11px;
    color: #777;
}
.total {
    padding: 2px 6px;
    border-radius: 4px;
    background: #00efc7;
    font-size: 13px;
    font-weight: 600;
    color: rgb(94, 94, 94);
    height: fit-content;
    line-height: 20px;
    margin-left: 20px;
}
.editButtons button{
    background: transparent;
    border: none;
    height: 100%;
    color: ivory;
}
.editButtons button:focus {
    outline: none;
}
.inputForms {
    display: flex;
}
.widthSmall {
    width: 33%;
}
.printButton {
    background: transparent;
    border: none;
    height: fit-content;
    margin-left: 15px;
    color: ivory;
}
.printButton:focus {
    outline: none;
}
.calendar {
    text-align: right;
}
.top {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
}
.titleSection {
    border-bottom: none;
    padding-bottom: 0!important;
}
.top h1 {
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #252C33; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(69,73,82);
    border-radius: 9px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 81, 90);
  }