<div class="container2">
    <div class="top">
        <h1 class="titleSection">Inicio</h1>
    </div>
    <div class="summaryBoxes">
        <div class="summaryBox summary-total">
            <div class="summary-main">
                <div class="summary-value">{{totalOrders}}</div>
                <div class="summary-desc">Comandas totales</div>
            </div>
            <div class="summary-footer"><a routerLink="/comandas/index">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></a></div>
        </div>
        <div class="summaryBox summary-pending">
            <div class="summary-main">
                <div class="summary-value">{{pendingOrders}}</div>
                <div class="summary-desc">Comandas pendientes</div>
            </div>
            <div class="summary-footer"><a routerLink="/comandas/index/pending">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></a></div>
        </div>
        <div class="summaryBox summary-amount">
            <div class="summary-main">
                <div class="summary-value">${{total}} mxn</div>
                <div class="summary-desc">Total vendido</div>
            </div>
            <div class="summary-footer"><a routerLink="/caja/sales">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></a></div>
        </div>
    </div>
</div>