.selection {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.custom-select {
    padding: 0.375rem 1.75rem 0.375rem 0rem;
    border: none;
    border-bottom: 1px solid #ced4da; 
    border-radius: 0;
    background: #252C33 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    color: #666f78;
}
.custom-select:focus {
    outline: none;
    box-shadow: none;
}
.type {
    width: 50%;
    margin: 5px;
}
.left {
    margin-left: 0!important;
}
.right {
    margin-right: 0!important;
}
.message {
    width: 60%;
    padding: 30px;
}
.ezeButton {
    padding: 10px;
}
.whiteframe {
    position: relative;
    margin-top: 10px;
    padding: 0 10px;
    background: #252C33;
    overflow: auto;
    max-height: 600px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 2px 1px -1px rgba(255, 255, 255, 0.12);
}
.editButtons button{
    background: transparent;
    border: none;
    height: 100%;
    color: ivory;
}
.editButtons button:focus {
    outline: none;
}  
.frameContent {
    overflow: auto;
}
.orders {
    padding: 0;
    margin: 0;
}
.orders li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(228, 228, 228, 0.12);
}
.subtitle {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
}
.status {
    width: 100px;
    margin: 0 10px;
    border-radius: 2px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
}
.gInfo {
    display: flex;
}
.date {
    font-size: 11px;
    color: #777;
}
.last {
    border-bottom: none!important;
}
.info {
    margin-left: 10px;
    line-height: 30px;
}
.tools {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.transparentButton {
    background: transparent;
    border: none;
    color: ivory;
}
.transparentButton:focus {
    outline: none;
}
.form-control:focus {
    color: #8c8d8d;
}
.form-control {
    color: #6f7377;
}
