<div class="chart-wrapper monthChart">
    <mat-radio-group aria-label="Selecciona una opción">
        <mat-radio-button name="date" value="day" class="radioButton" (change)="radioChange($event)">Día</mat-radio-button>
        <mat-radio-button name="date" value="week" class="radioButton" (change)="radioChange($event)">Semana</mat-radio-button>
        <mat-radio-button name="date" value="month" class="radioButton" (change)="radioChange($event)" checked>Mes</mat-radio-button>
        <mat-radio-button name="date" value="year" class="radioButton" (change)="radioChange($event)">Año</mat-radio-button>
    </mat-radio-group>
    <form [formGroup]="dateForm" *ngIf="month">
        <div class="selects">
            <div class="showMonth form-group">
                <select class="browser-default custom-select" id="year" formControlName="year" (change)="onChangeDate()">
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="form-group showMonth">
                <select class="browser-default custom-select" id="month" formControlName="month" (change)="onChangeDate()">
                    <option value="01-01">Enero</option>
                    <option value="01-02">Febrero</option>
                    <option value="01-03">Marzo</option>
                    <option value="01-04">Abril</option>
                    <option value="01-05">Mayo</option>
                    <option value="01-06">Junio</option>
                    <option value="01-07">Julio</option>
                    <option value="01-08">Agosto</option>
                    <option value="01-09">Septiembre</option>
                    <option value="01-10">Octubre</option>
                    <option value="01-11">Noviembre</option>
                    <option value="01-12">Diciembre</option>
                </select>
            </div>
        </div>
    </form>
    <form [formGroup]="dateFormWeek" *ngIf="week">
        <div class="selects">
            <div class="showWeek form-group">
                <select class="browser-default custom-select" id="yearWeek" formControlName="yearWeek" (change)="onChangeWeekDate()">
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="form-group showWeek">
                <select class="browser-default custom-select" id="monthWeek" formControlName="monthWeek" (change)="getWeeks()">
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <div class="form-group showWeek">
                <select class="browser-default custom-select" id="week" formControlName="week" (change)="onChangeWeekDate()">
                    <option *ngFor="let week of numberWeek; let i = index" [value]="week.id">
                        {{ week.name }}
                    </option>
                </select>
            </div>
        </div>
    </form>
    <div *ngIf="day">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Selecciona la fecha" [formControl]="date" (dateChange)="onChangeDayDate()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month" [startAt]="startDayDate"></mat-datepicker>
        </mat-form-field>
    </div>
    <form [formGroup]="yearForm" *ngIf="year">
        <div class="form-group showWeek">
            <select class="browser-default custom-select" id="yearSelect" formControlName="yearSelect" (change)="onChangeYearDate()">
                <option *ngFor="let year of yearsData; let i = index" [value]="year.id">
                    {{ year.name }}
                </option>
            </select>
        </div>
    </form>
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="chartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>
<div id="weekSales" class="infoCard">
    <div class="titleCard">
        <span>Venta semanal</span>
    </div>
    <div class="subInfo">
        <div class="infoSale">
            <span>${{totalWeek}} mxn</span>
        </div>
    </div>
</div>
<div id="yearSales" class="infoCard">
    <div class="titleCard">
        <span>Venta anual</span>
    </div>
    <div class="subInfo">
        <div class="infoSale">
            <span>${{totalYear}} mxn</span>
        </div>
    </div>
</div>
<div class="chart-wrapper productsChart">
    <div class="options">
        <form [formGroup]="productForm">
            <div class="selects">
                <div class="form-group products">
                    <select class="browser-default custom-select" id="product" formControlName="product">
                        <option value="drink">Bebidas</option>
                        <option value="food">Alimentos</option>
                    </select>
                </div>
            </div>
        </form>
        <mat-radio-group class="selectProduct" aria-label="Selecciona una opción">
            <mat-radio-button name="product" value="plot" class="radioButton" (change)="radioChangeProduct($event)" checked>Gráfica</mat-radio-button>
            <mat-radio-button name="product" value="chart" class="radioButton" (change)="radioChangeProduct($event)">Tabla</mat-radio-button>
        </mat-radio-group>
    </div>
    <canvas baseChart *ngIf="chart"
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="chartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
    <table class="table" style="width:100%" *ngIf=!chart>
        <thead>
          <tr>
            <th class="text-center">Producto</th>
            <th class="text-center">Vendidos</th>
            <th class="text-center">Venta total</th>
          </tr>
        </thead>
        <tr *ngFor="let product of productsList">
            <td align="center">{{ product.Name }}</td>
            <td align="center">{{ product.quantity }}</td>
            <td align="center">{{ product.sale }}</td>
        </tr>
    </table>
</div>
<div id="mostSale" class="infoCard">
    <div class="titleCard">
        <span>Más vendido</span>
    </div>
    <div class="subInfo">
        <div class="infoSale">
            <span>Capuccino</span>
        </div>
    </div>
</div>