<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <div class="row authLogin">
                    <h2>Inicia sesión en plataforma Eze Café</h2>
                    <div class="col-md-10">
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <div class="md-form">
                                    <input type="text" id="username" class="form-control" placeholder="Nombre de Usuario"
                                    formControlName="username" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="md-form">
                                    <input type="password" id="password" class="form-control" placeholder="Contraseña" 
                                    formControlName="password" />
                                </div>
                            </div>
                            <div class="authButton">
                                <button type="submit" (click)="login()">Acceder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>