.authLogin {
    justify-content:left;
}
.authLogin h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.authButton button {
    border-radius: 4px;
    border-color: none;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 40%;
    padding: 7px;
}
.authButton button:hover {
    background-color: var(--black-deep-color);
}
.authLogin form {
    padding-bottom: 20px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}