<div class="breadcrumb">
    <li><a routerLink="/admin/users">Administración de usuarios</a></li>
    <li><a routerLink="/admin/inventario">Inventario</a></li>
    <li><a routerLink="/admin/menu">Menú</a></li>
    <li><a routerLink="/mesero/comanda">Comanda</a></li>
</div>
<div class="breadcrumb">
    <li><a routerLink="/superadmin/users">Administración de usuarios</a></li>
    <li><a routerLink="/admin/inventario">Inventario</a></li>
    <li><a routerLink="/admin/menu">Menú</a></li>
    <li><a routerLink="/mesero/comanda">Comanda</a></li>
</div>