<div class="container2">
    <h1 class="titleSection">Comandas</h1>
    <div class="whiteframe">
        <div class="frameContent">
            <ul class="orders">
                <li *ngFor="let order of orders">
                    <div class="info"><div *ngIf="!order.name">{{order.id}}</div><div *ngIf="order.name">{{order.name}}</div><div>{{order.createdAt}}</div></div>
                    <div class="total">{{order.subtotal}}</div>
                    <div class="status">{{order.status}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="addButton">
    <button class="crearComanda" (click)="startOrder();"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>