<div class="container2">
    <h1 class="titleSection">Comandas</h1>
    <div class="whiteframe">
        <div class="frameContent">
            <ul class="orders">
                <li *ngFor="let order of orders">
                    <div class="gInfo">
                        <div class="status {{order.status}}" >{{order.status}}</div>
                        <div class="info"><div *ngIf="!order.name">{{order.id}}</div><div *ngIf="order.name">{{order.name}}</div><div class="date">{{order.createdAt}}</div></div>
                        <div class="total">${{order.subtotal}} mxn</div>
                    </div>
                    <div class="editButtons">
                        <button><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                    </div>
                </li>
                <li *ngIf="!orders.length">Aún no hay comandas el día de hoy.</li>
            </ul>
        </div>
    </div>
</div>
<div class="addButton">
    <button class="crearComanda" (click)="startOrder();"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>