<div class="elements">
    <ul>
        <li class="head">
            <div>
                Producto
            </div>
            <div>
                Precio
            </div>
        </li>
        <li *ngFor="let item of itemsList; let last = last" class="{{ last ? 'last' : ''}}">
            <div class="name">{{item.name}}</div>
            <div class="price">${{item.price}}</div>
        </li>
        <p class="center" *ngIf=discountItems>------ Descuentos -----</p>
        <li *ngFor="let i of discountItems">
            <div>{{i.name}}</div>
            <div>
                {{ i.type == 'percentage' ? '-' + i.amount + '%' : '- $' + i.amount }}</div></li>
        <li class="total">
            <div>
                Total:
            </div>
            <div>
                ${{amountDiscount}} MN
            </div>
        </li>
    </ul>
</div>
<div class="ticket">
  <p>Ticket ID: {{ orderId }}</p>
</div>