<div class="container2">
    <div class="top">
        <h1 class="titleSection">Inicio</h1>
    </div>
    <div class="summaryBoxes">
        <div class="summaryBox summary-total">
            <div class="summary-main">
                <div class="summary-value">$300</div>
                <div class="summary-desc">Comandas totales</div>
            </div>
            <div class="summary-footer">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></div>
        </div>
        <div class="summaryBox summary-pending">
            <div class="summary-main">
                <div class="summary-value">$300</div>
                <div class="summary-desc">Comandas pendientes</div>
            </div>
            <div class="summary-footer">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></div>
        </div>
        <div class="summaryBox summary-amount">
            <div class="summary-main">
                <div class="summary-value">$300</div>
                <div class="summary-desc">Total vendido</div>
            </div>
            <div class="summary-footer">Ver todo <fa-icon [icon]="faArrowCircleRight"></fa-icon></div>
        </div>
    </div>
    <div class="whiteframe-2v">
        <h2>Anuncios</h2>
        <div class="whitelist">
            <div *ngFor="let notice of anuncios; let last = last" class="whiteitem {{ last ? 'last' : ''}}">
                <div class="whiteicon">
                    <fa-icon [icon]="faExclamationCircle" *ngIf="notice.type == 'urgente'"></fa-icon>
                    <fa-icon [icon]="faBullhorn" *ngIf="notice.type == 'aviso'"></fa-icon>
                    <fa-icon [icon]="faBell" *ngIf="notice.type == 'recordatorio'"></fa-icon>
                </div>
                <div class="whitetext">
                    <h3>{{notice.message}}.</h3>
                    <h4>Por: {{notice.User.Name}}</h4>
                </div>
            </div>
            <div class="whiteitem last" *ngIf="!anuncios.length">
                <div class="whiteicon">
                    <fa-icon [icon]="faNewspaper"></fa-icon>
                </div>
                <div class="whitetext noAd">
                    <h3>No hay ningún anuncio.</h3>
                </div>
            </div>
        </div>
    </div>
</div>