<div class="container2">
    <div class="top">
        <h1 class="titleSection">Descuentos</h1>
        <button routerLink="/admin/menu"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
    </div>
    <div class="foodContainer">
        <div class="foodItem">
            <div class="md-form eButtons">
                <div class="searchIcon"><fa-icon [icon]="faSearch"></fa-icon></div>
                <form [formGroup]="searchDiscount" class="fullWidth">
                    <input type="text" id="filter" class="form-control" (keyup)="onChange($event);" placeholder="Filtrar"
                    formControlName="filter" />
                </form>
            </div>
            <div class="whiteframe">
                <ul>
                    <li *ngFor="let discount of discountListSearch; let last = last" class="{{ last? 'last' : ''}}">
                        <div class="items">
                            <div>{{ discount.name }}</div>
                            <div class="total">-{{ discount.amount }}{{ discount.type == 'amount' ? 'mxn' : '%' }}</div>
                        </div>
                        <div class="eButtons">
                            <button class="editButton" (click)="edit(discount.id,discount.name,discount.type,discount.amount,discount.one_per_customer,discount.one_per_employee)"><fa-icon [icon]="faEdit"></fa-icon></button>
                            <button class="editButton" (click)="deleteDiscount(discount.id)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foodItem" *ngIf="add">
            <div class="centerV">
                <h2>Ingresa los datos del descuento.</h2>
                <form [formGroup]="addDiscount">
                    <div class="form-group">
                        <div class="md-form">
                            <input type="text" id="name" class="form-control" placeholder="Nomre del descuento" [ngClass]="{ 'is-invalid': addDiscount.get('name').touched && addDiscount.get('name').invalid }"
                            formControlName="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="browser-default custom-select users" [ngClass]="{ 'is-invalid': addDiscount.get('type').touched && addDiscount.get('type').invalid }" formControlName="type">
                            <option value="" disabled selected>Tipo de descuento</option>
                            <option value="percentage">Porcentaje</option>
                            <option value="amount">Cantidad</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="md-form">
                            <input type="number" id="amount" class="form-control" placeholder="Cantidad" [ngClass]="{ 'is-invalid': addDiscount.get('amount').touched && addDiscount.get('amount').invalid }"
                            formControlName="amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="md-form checkbox">
                            <input type="checkbox" if="onePerCustomer" class="form-control" formControlName="onePerCustomer" />
                            <label for="onePerCustomer">Habilitar sólo un uso por comanda</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="md-form checkbox">
                            <input type="checkbox" if="onePerEmployee" class="form-control" formControlName="onePerEmployee" />
                            <label for="onePerEmployee">Habilitar sólo un uso por empleado</label>
                        </div>
                    </div>
                    <button class="ezeButton fullWidth" [disabled]="!addDiscount.valid" (click)="addNewDiscount()">Añadir</button>
                </form>
            </div>
        </div>
        <div class="foodItem" *ngIf="editM">
            <div class="centerV">
                <h3>Ingresa sólo los campos que quieres alterar.</h3>
                <form [formGroup]="editDiscount">
                    <div class="form-group">
                        <div class="md-form">
                            <input type="text" id="nameEdit" class="form-control" placeholder="Nombre del descuento" [ngClass]="{ 'is-invalid': editDiscount.get('nameEdit').touched && editDiscount.get('nameEdit').invalid }"
                            formControlName="nameEdit" />
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="browser-default custom-select users" [ngClass]="{ 'is-invalid': editDiscount.get('typeEdit').touched && editDiscount.get('typeEdit').invalid }" formControlName="typeEdit">
                            <option value="" disabled selected>Tipo de descuento</option>
                            <option value="percentage">Porcentaje</option>
                            <option value="amount">Cantidad</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="md-form">
                            <input type="number" id="amountEdit" class="form-control" placeholder="Cantidad" [ngClass]="{ 'is-invalid': editDiscount.get('amountEdit').touched && editDiscount.get('amountEdit').invalid }"
                            formControlName="amountEdit" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="md-form checkbox">
                            <input type="checkbox" if="onePerCustomerEdit" class="form-control" formControlName="onePerCustomerEdit" />
                            <label for="onePerCustomerEdit">Habilitar sólo un uso por comanda</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="md-form checkbox">
                            <input type="checkbox" if="onePerEmployeeEdit" class="form-control" formControlName="onePerEmployeeEdit" />
                            <label for="onePerEmployeeEdit">Habilitar sólo un uso por empleado</label>
                        </div>
                    </div>
                    <button class="ezeButton fullWidth" [disabled]="!editDiscount.valid" (click)="updateDiscount()">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>