<div class="printContent">
  <div class="header">
    <img class="logo" src="assets/img/ezeLogo.png" alt="logo">
    <div class="infoData">
      <p class="address">Jaime Ezequiel Donlucas Gómez</p>
      <p class="address">Tokio #414, A204, col. Portales</p>
      <p class="address">Norte, C.P.: 03300, Del. Benito</p>
      <p>Juárez, RFC: DOGJ6707053J2</p>
      <p class="address">EZE CAFÉ</p>
      <p class="address">Cafetería de especialidad</p>
      <p class="address">Municipio Libre #131, Local C</p>
      <p class="address">C.P.: 03303, Del. Benito Juárez</p>
      <p>Tel: 55 62 71 54 43</p>
    </div>
  </div>
  <table class="invoice">
      <tbody><tr><td>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </td></tr></tbody>
  </table>
  <div class="footer">
    <p>¡VISÍTANOS!</p>
    <p class="address">ezecafe.com.mx</p>
    <p class="address"><fa-icon [icon]="faInstagram"></fa-icon> eze.cafe <fa-icon [icon]="faTwitter"></fa-icon> @CafeEze</p>
    <p><fa-icon [icon]="faFacebook"></fa-icon> /ezecafee</p>
  </div>
</div>