body {
  background: white;
}
.header, .header-space, .footer, .footer-space { height: 100px; }
.header { 
  position: relative; 
  top: 0; 
  text-align: center;
  height: fit-content;
}
.footer { 
  position: relative; 
  bottom: 0; 
  text-align: center;
}
@media screen {
  :host {
    display: none;
  }
}
@media print {
  @page { size: 58mm 150mm }
}
.logo {
  height: 120px;
  width: 55px;
}
.infoData {
  margin-top: 10px;
}
.invoice {
  margin: auto;
  margin-bottom: 10px;
}
.address {
  margin: 0;
}
.printContent {
  width: fit-content;
}