<div class="sidenav" *ngIf="userData.id">
    <nav>
        <div id="left">
            <ul>
                <li>
                    <button id="hamburguer"><fa-icon [icon]="faBars"></fa-icon></button>
                </li>
                <li>
                    <fa-icon [icon]="faCoffee"></fa-icon> EZE CAFÉ
                </li>
            </ul>
        </div>
        <div id="rigth">
            <ul>
                <li>
                    <p>{{userData.Name}}</p>
                </li>
                <li>
                    <button class="logout" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="leftMenu" *ngIf="userData.id">
    <ul>
        <li><fa-icon [icon]="faInbox"></fa-icon>Inicio</li>
        <li><fa-icon [icon]="faPaperPlane"></fa-icon>Órdenes</li>
        <li><fa-icon [icon]="faCog"></fa-icon>Ajustes</li>
    </ul>
</div>
