<div class="sidenav" *ngIf="userData.id">
    <nav>
        <div id="left">
            <ul>
                <li>
                    <button id="hamburguer" (click)="toggle();"><fa-icon [icon]="faBars"></fa-icon></button>
                </li>
                <li>
                    <fa-icon [icon]="faCoffee"></fa-icon> EZE CAFÉ
                </li>
            </ul>
        </div>
        <div id="rigth">
            <ul>
                <li>
                    <p>{{userData.Name}}</p>
                </li>
                <li>
                    <button class="logout" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="leftMenu" *ngIf="userData.id && show" [@slideLeftInOut]>
    <div id="toolsDiv"></div>
    <ul>
        <li><fa-icon [icon]="faInbox"></fa-icon> <a routerLink="/" (click)="toggle();"> Inicio</a></li>
        <li><fa-icon [icon]="faPaperPlane"></fa-icon> <a routerLink="/comandas/index" (click)="toggle();"> Órdenes</a></li>
        <li class="settings" *ngIf="userData.UserRole == 3 || userData.UserRole == 4"><fa-icon [icon]="faCog"></fa-icon> Ajustes</li>
    </ul>
</div>
<div class="blackout" *ngIf="userData.id && show" (click)="toggle();"></div>
