.card-body h2 {
    margin-bottom: 20px;
}
.link-dark {
    color: ivory;
    font-weight: 300;
    background-color: #FFFFFF00;
    border: none;
    margin: 0;
    padding: 0;
}
.link-dark:hover {
    text-decoration: underline;
    cursor: pointer;
}
.alertMessage {
    display: none;
    position: absolute;
    z-index: 9000;
    width: 100%;
    top: 140.5px;
    text-align: center;
}
.alertMessage p {
    margin: auto;
    width: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 9px;
}
.container {
    top: 0;
    left: 0;
    transform: none;
    position: relative;
}
.buttons {
    justify-content: space-between;
    width: 40%;
    display: flex;
    margin: auto;
}
.name {
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.name .form-group {
    margin: 0;
    height: 55px;
}
.name .md-form {
    margin-right: 10px;
}
.fullWidth {
    width: 100%;
    padding: 10px;
}