/* Global styles */
:root {
    --black-color: rgb(0, 0, 0);
    --black-clear-color: rgb(39, 39, 39);
    --white-color: rgb(255, 255, 255);
    --white-pale-color: rgb(223, 221, 219);
    --font-titles: 23px;
    --font-title-type: Bernardo Moda, Fallback, sans-serif;
    --font-type: Roboto, sans-serif;
}

/*------------- General */
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: var(--font-type)!important;
}
/*------------- Header */
nav {
    display: flex;
    background-color: var(--black-color);
    padding: 10px;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    font-family: var(--font-title-type)!important;
    font-weight: 700;
}
nav ul {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
nav li {
    padding-left: 20px;
    list-style: none;
}
nav li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
    padding-top: 35px; 
}
nav li a:hover {
    color: var(--white-pale-color);
    text-decoration: none;
}