<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="cont">
            <h2>Lista de usuarios</h2>
            <table class="table" style="width:100%">
                <thead>
                  <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Nombre de usuario</th>
                    <th class="text-center">Rol</th>
                    <th class="text-center">Editar/Eliminar</th>
                  </tr>
                </thead>
                <tr *ngFor="let user of users | slice: -10;">
                    <td *ngIf="userData.id != user.id" align="center">{{ user.Name }}</td>
                    <td *ngIf="userData.id != user.id" align="center" id="quantity">{{ user.Lastname }}</td>
                    <td *ngIf="userData.id != user.id" align="center">{{ user.Username }}</td>
                    <td *ngIf="userData.id != user.id" align="center">{{ user.Role.name }}</td>
                    <td class="buttons" *ngIf="userData.id != user.id">
                        <button class="link-dark" (click)="edit(user)"><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button class="link-dark" (click)="deleteUser(user.id)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="alertM" class="alertMessage">
        <p></p>
</div>
<div class="alertContainer" *ngIf="editUser">
    <div class="paddingContainer">
        <h2>Editar usuario</h2>
        <form [formGroup]="editForm">
            <div class="name">
                <div class="form-group">
                    <div class="md-form">
                        <input type="text" id="name" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': editForm.get('name').touched && editForm.get('name').invalid }"
                        formControlName="name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="md-form">
                        <input type="text" id="lastname" class="form-control" placeholder="Apellidos" [ngClass]="{ 'is-invalid': editForm.get('lastname').touched && editForm.get('lastname').invalid }"
                        formControlName="lastname" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="md-form">
                    <input type="text" id="username" class="form-control" placeholder="Nombre de Usuario" [ngClass]="{ 'is-invalid': editForm.get('username').touched && editForm.get('username').invalid }"
                    formControlName="username" />
                </div>
            </div>
            <div class="form-group">
                <select class="browser-default custom-select users" [ngClass]="{ 'is-invalid': editForm.get('role').touched && editForm.get('role').invalid }" formControlName="role">
                    <option value="" disabled selected>Rol de nuevo usuario</option>
                    <option value="1">Mesero</option>
                    <option value="2">Caja</option>
                    <option value="3">Admin</option>
                    <option value="4">Superadmin</option>
                </select>
            </div>
            <button class="ezeButton fullWidth" [disabled]="!editForm.valid" (click)="update()">Guardar</button>
        </form>
    </div>
</div>
<div class="backgroundDiv" *ngIf="editUser" (click)="hide()"></div>