<div class="breadcrumb">
    <li><a routerLink="/superadmin/">Inicio</a></li>
    <li><a routerLink="/superadmin/users">Administración de usuarios</a></li>
    <li><a routerLink="/admin/inventario">Inventario</a></li>
    <li><a routerLink="/admin/menu">Menú</a></li>
    <li><a routerLink="/mesero/comanda">Comanda</a></li>
</div>
<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="cont">
            <h2>Eliminar usuarios</h2>
            <table class="table" style="width:100%">
                <thead class="black white-text">
                  <tr>
                    <th></th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Username</th>
                  </tr>
                </thead>
                <tr *ngFor="let user of users | slice: -10;">
                    <td *ngIf="userData.id != user.id"><button class="link-dark" (click)="deleteUser(user.id)">Eliminar</button></td>
                    <td *ngIf="userData.id != user.id" align="center">{{ user.Name }}</td>
                    <td *ngIf="userData.id != user.id" align="center" id="quantity">{{ user.Lastname }}</td>
                    <td *ngIf="userData.id != user.id" align="center">{{ user.Username }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="alertM" class="alertMessage">
        <p></p>
</div>