/* Global styles */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
    --black-color: rgb(19, 18, 25);
    --main-black: rgb(31, 31, 30);
    --black-clear-color: rgb(56, 54, 54);
    --black-disabled-color: rgba(0, 0, 0, 0.692);
    --white-color: rgb(255, 255, 255);
    --white-pale-color: rgb(223, 221, 219);
    --font-titles: 23px;
    --font-title-type: Bernardo Moda, Fallback, sans-serif;
    --font-type: 'Nunito', sans-serif;
}

/*------------- General */
html, body {
    padding: 0px;
    margin: 0;
    font-size: 15px;
    font-family: var(--font-type)!important;
    background: #252C33;
    color: rgb(216, 216, 216)
}
/*------------- Header */
nav {
    display: flex;
    background-color: var(--black-color);
    padding: 10px;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
nav h1 {
    font-family: var(--font-title-type)!important;
    font-weight: 700;
}
nav ul {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
nav li {
    padding-left: 20px;
    list-style: none;
}
nav li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
    padding-top: 35px; 
}
nav li a:hover {
    color: var(--white-pale-color);
    text-decoration: none;
}
.alert-message {
    color: red;
    width: inherit;
    margin-top: 10px;
    position: absolute;
}
.authLogin {
    justify-content:left;
}
.authLogin h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.authButton button {
    border-radius: 4px;
    border-color: none;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 40%;
    padding: 7px;
}
.authButton button:hover {
    background-color: var(--black-clear-color);
}
.authButton button:disabled {
    background-color: var(--black-disabled-color);
}
.breadcrumb {
    margin: 0;
    background-color: #0d0d0c;
    border-radius: 0;
    z-index: 9999999;
    position: absolute;
    width: 100%;
}
.breadcrumb li {
    color: ivory;
    margin-left: 10px;
}
.breadcrumb li a {
    color: ivory;
}
.breadcrumb li a:hover {
    text-decoration: underline;
}
.cont {
    width: 100%;
}
.card {
    margin: 15px;
}
.container {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container2 {
    margin: 50px;
}
.container3 {
    display: flex;
}
.titleSection {
    color: #999;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid 1px #eee;
}
.ezeButton {
    background: rgb(13, 13, 19);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid rgb(31, 38, 53);
}
.ezeButton:disabled {
    background: rgb(73, 73, 73);
}
.backgroundDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}
.alertContainer{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    background: #252C33;
    border: 1px solid gray;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(255, 255, 255, 0.64), 0px 0px 1px -1px rgba(255, 255, 255, 0.62);
    text-align: center;
}
.paddingContainer {
    padding: 20px;
}
.paddingContainer h2 {
    padding-top: 0px;
}
.summary-footer a {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.centerDiv {
    transform: translateY(100%);
}
.whiteframe-2v {
    background: #252C33;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 2px 1px -1px rgba(255, 255, 255, 0.12);
}
.whiteframe-2v h2 {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background: #1b6875;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 10px;
    margin: 0;
}
.whitelist {
    display: block;
    padding: 8px 0;
    max-height: 234px;
    overflow: auto;
}
.whiteitem {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    border-bottom: 1px solid #eee;
}
.whiteicon {
    align-self: flex-start;
    font-size: 30px;
    padding: 5px;
    color: #bbb;
}
.whitetext {
    margin-left: 10px;
    flex: 1;
    padding-top: 7px;
}
.whitetext h3 {
    font-size: 15px !important;
    line-height: 1.2em !important;
    color: #777 !important;
}
.whitetext h4 {
    font-size: 12px !important;
    line-height: 1.2em !important;
    color: #777 !important;
}
.noAd {
    padding-top: 18px!important;
}
.last {
    border-bottom: none!important;
}
body app-root app-print { width: 58mm; height: 300mm } 
@media print {
    app-root > * { display: none; }
    app-root app-print { display: block; }
    body app-root app-print { width: 58mm; height: 100mm; font-family: Monospace!important; font-weight: 900; font-size: 12px; color: black;}
    body app-root app-invoice { width: 58mm; height: 100mm; font-family: Monospace!important; font-weight: 900; font-size: 12px; color: black;}
    body app-root app-corte { width: 58mm; height: 100mm; font-family: Monospace!important; font-weight: 900; font-size: 12px; color: black;}
}
/* MD Angular */
.mat-button-wrapper {
    color: gray!important;
}
.mat-icon-button:focus {
    outline: none;
}
#mat-input-0 {
    color: gray;
}
.mat-input-element {
    color: gray!important;
}
.mat-datepicker-toggle-default-icon {
    padding-bottom: 1px;
}
.md-input-container label {
    color: lightgray;
  }
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(63, 61, 61) !important;
 }

.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(238, 238, 238, 0) !important;
} 

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: transparent !important;;
}
.mat-form-field-infix {
    width: 80px!important;
    border-top: 0;
}
.mat-form-field-wrapper {
    padding-bottom: 0!important;
}
.mat-radio-outer-circle {
    border-color: lightgray;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #86DEB7;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #86DEB7;
}

.summaryBoxes {
    display: flex;
    color: #fff;
    margin: 30px 0;
    justify-content: space-between;
}
.summaryBox {
    width: 200px;
    border-radius: 2px;
}
.summary-total {
    background: #4bc0c0;
}
.summary-pending {
    background: rgb(45, 167, 204);
}
.summary-amount {
    background: rgb(255, 79, 116);
}
.summary-main {
    margin: 10px;
}
.summary-value {
    font-size: 25px;
    font-weight: 900;
}
.summary-desc {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 10px 20px 0;
}
.summary-footer {
    padding: 4px;
    font-size: 12px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
}
.summary-footer a {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    -webkit-box-shadow: 0 0 0 30px #252C33 inset !important;
    -webkit-box-border: 1px solid #252C33;
    background-color: #252C33 !important;
    background-image: none !important;
    color: ivory !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #252C33 inset !important;
    background-color: #252C33 !important;
    -webkit-text-fill-color: ivory !important;
    caret-color: ivory;
}
.form-control {
    color: rgb(98, 102, 107);
}
.form-control:focus {
    color: #8c9094;
}
.custom-select {
    padding: 0.375rem 1.75rem 0.375rem 0rem;
    border: none;
    border-bottom: 1px solid #ced4da; 
    border-radius: 0;
    background: #252C33 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    color: #666f78;
}
.card-body {
    background: #252C33;
}
.card-body a {
    color: khaki;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #7f848a;
}
.table td {
    border-top: none;
}
.back {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
}
.back a {
    color: ivory;
}
.whiteframe ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	border-radius: 0;
	background-color: #252C33;
}

.whiteframe ul::-webkit-scrollbar
{
	width: 6px;
    background-color: #252C33;
}

.whiteframe ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: none;
	background-color: #555;
}
